@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
:root{
    --blue:#0c5c70fd;;
    --bond: #f8f8f8;
    --white: #fff;
    --gray:#999;
    --light_gray: #b8b8b8;
    --ultra_light_gray: #ccc;
}
*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
 }

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: var(--blue);
}
.wrapper{
    /* height: 400px; */
    width: 420px;
    padding: 28px 28px 45px;
    background:var(--bond);
    border-radius: 10px;
}
.wrapper header{
    font-size: 28px;
    font-weight: 500;
    text-align: center;
}
.wrapper .search{
    position: relative;
    margin: 35px 0 18px;
}
.search input{
    height: 53px;
    width: 100%;
    padding: 0 42px;
    outline: none;
    font-size: 16px;
    border-radius: 7px;
    border: 1px solid var(--gray);
}
.search input:focus{
    padding: 0 41px;
    border: 2px solid var(--blue);
}
.search input::placeholder{
    color: var(--light_gray);
}
.search :where(i, span){
    position: absolute;
    top: 50%;
    color: #999;
    transform: translateY(-50%);
}
.search i{
    left: 18px;
    pointer-events: none;
    font-size: 16px;
}
.search input:focus ~ i{
    color: var(--blue);
}
.search span {
    right: 15px;
    font-size: 18px;
    cursor: pointer;
    display: none;

}

.search input:valid ~ span{
    display: block;

}
.wrapper ul li{
    display: flex;
    padding-bottom: 17px;
    justify-content: space-between;
    border-bottom: 1px solid var(--ultra_light_gray);
}
ul li:last-child{
    margin-bottom: 0px;
    border-bottom: 0px;
    padding-bottom: 0px;
}
ul .word p{
    font-size: 22px;
    font-weight: 500;
}

ul .word span{
    font-size: 12px;
   color: var(--gray);
}
ul .word i{
    font-size: 15px;
    cursor: pointer;
    color: var(--gray);
}
.content li .details{
    padding-left: 10px;
    border-radius: 4px 0 0 4px;
    border-left: 3px solid var(--blue);
  }